@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato&family=Londrina+Shadow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.titlefont {
  font-family: "Caprasimo", cursive;
}

.coolfont {
  font-family: "Lato", sans-serif;
}
.shadowfont {
  font-family: "Londrina Shadow", cursive;
}
